:root{
    --color1: #ff7300;
    --color2: #f6b37d;
}
* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
p
{
    margin: 0;
}
h2
{
    margin: 0;
}
/*
Micanje strelica sa input type number
*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
a
{
    text-decoration: none;
}
a, a:hover, a:link, a:visited
{
    color: black;
}
/*
Navigacijski menu
*/
.selection
{
    position: relative;
    width: 100%;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    font:  35px 'Oswald', sans-serif;
    background-color: var(--color1);
}
.selection td
{
    width: 1fr;
    border-top: none;
    margin: 0;
    padding: 1%;
}
.spacer
{
    aspect-ratio: 900/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*
Početak CSS za INDEX stranicu
*/
.slideshow img{
    margin-left: auto;
    margin-right: auto;
}

.slideshow
{
    position: relative;
    width: 100%;
}
.slideimg
{
    display: none;
    animation-name: fade;
    animation-duration: 1s;
}
/*
Animacija ulaska slika
*/
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 100%;}
}

.maincontent {grid-area: maincontent;}
.maincontent h1
{
    font: 700 60px "Arimo", sans-serif;
}
.maincontent p
{
    font: 40px "Oxygen", sans-serif;
}
.content1 {grid-area: content1;
    margin-right: 20%;}
.content2 {grid-area: content2;
    margin-left: 20%;}

.content1 h2
{
    font: 700 50px "Arimo", sans-serif;
}
.content1 p
{
    font:  30px "Oxygen", sans-serif;
}
.content2 h2
{
    font: 700 50px "Arimo", sans-serif;
}
.content2 p
{
    font:  30px "Oxygen", sans-serif;
}
.contentdivider
{
    grid-area: contentdivider;
    display: none;
    aspect-ratio: 900/100;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("slike/Website Images/indexcontentdivider.svg");
}
.content
{
    position: relative;
    width: 100%;
    height: 74vh;
    background-color: var(--color2);
    text-align: center;
    display: inline-grid;
    grid-template-areas:
        'maincontent maincontent'
        'content1 content2';
    aspect-ratio: 900/322;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("slike/Website Images/indexcontent2.svg");
}
/*
Kraj CSS za INDEX stranicu
*/

/*
Početak CSS za CJENIK stranicu
*/
.uvod
{
    position: relative;
    width: 60%;
    left: 20%;
    text-align: center;
    font: 20px 'Helvetica', sans-serif;
}

/*
Kraj CSS za CJENIK stranicu
*/
/*
Početak CSS za WEBSHOP stranicu
*/
.filters{grid-area: filters;
    border-right: 2px orange solid;
}
.filters h2
{
    margin-bottom: 2%;
    font: 600 25px "Arimo", sans-serif;
}
.navig{grid-area: navig;
    border-bottom: 2px orange solid;
    display: flex;
    justify-content: center;
}
.navig form
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.navig input[type=button]
{
    margin-left: 5px;
    text-align: center;
    width: 5%;
    height: 30px;
    font: 18px Helvetica, sans-serif;
}
.okvirgrid{grid-area: okvirgrid;

}
.item1{grid-area: item1;}
.item2{grid-area: item2;}
.item3{grid-area: item3;}
.item4{grid-area: item4;}
.item5{grid-area: item5;}
.item6{grid-area: item6;}
.item7{grid-area: item7;}
.item8{grid-area: item8;}
.item9{grid-area: item9;}
img {
    max-width: 100%;
    height: auto;
}
.okvirshop {
    position: relative;
    left: 10%;
    width: 80%;
    display: inline-grid;
    grid-template-columns: 1fr 0.9fr 0.9fr 0.9fr;
    grid-template-areas:
    'filters navig navig navig'
    'filters okvirgrid okvirgrid okvirgrid'
    'filters okvirgrid okvirgrid okvirgrid'
    'filters okvirgrid okvirgrid okvirgrid';
    border: 2px orange solid;
    border-radius: 10px;
}
.okvirshop > div
{
    padding: 20px;
}
.sidebyside
{
    display: inline-block;
}
.search-container input
{
    width: 65%;
    font: 20px "Oxygen", sans-serif;
}
.cijena
{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    font: 20px "Oxygen", sans-serif;
}
.down
{
    margin-top: auto;
}
.cijena input
{
    width: 35%;
    font: 20px "Oxygen", sans-serif;
}
.orderby
{
    font: 20px "Oxygen", sans-serif;
}
.orderby select
{
    font: 20px "Oxygen", sans-serif;
}
.izborpro
{
    font: 20px "Oxygen", sans-serif;
}
.izborpro input[type=checkbox]
{
    height: 20px;
    margin: 0;
}
.pretrazi
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pretrazi input
{
    font: 20px Verdana, sans-serif;
    text-align: center;
    width: 40%;
    padding: 1%;
    margin: 5px;
    border-radius: 5px;
}
.pretrazi input:hover
{
    background-color: lightgray;
}
.okvirgrid {
    display: grid;
    grid-template-areas:
    'item1 item2 item3'
    'item4 item5 item6'
    'item7 item8 item9';
    grid-gap: 25px;
}
.item
{
    display: flex;
    flex-direction: column;
    border: 1px gray solid;
    border-radius: 15px;
}
.item img
{
    border-radius: 15px 15px 0 0;
}
.item h2
{
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 3%;
    font: 25px "Arimo", sans-serif ;
}
.item p
{
    font: 15px "Poppins", sans-serif;
    padding-left: 2%;
    padding-right: 1%;
    padding-bottom: 1%;
}
.prodimg img
{
    width: 100%;
}
.prodbutton
{
    align-self: center;
    margin-top: 1%;
}
.prodbutton button
{
    font: 20px Helvetica, sans-serif;
    height: 40px;
    width: 100%;
    margin-bottom: 10%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
.footer{
    width: 100%;
    padding: 10px;
    align-self: flex-end;
    background-color: var(--color1);
}
/*
Kraj CSS za WEBSHOP stranicu
 */
/*
Početak CSS za PRODUCT stranicu
 */
.adminback{
    font: 25px 'Poppins', sans-serif;
    position: relative;
    left: 10%;
    width: 90%;
}
.adminback:hover{
    cursor: pointer;
}
.back
{
    font: 25px 'Poppins', sans-serif;
    position: relative;
    left: 10%;
    width: 90%;
}
.back:hover{
    cursor: pointer;
}
.picture{grid-area: picture;
    padding: 1%;
}
.picture form input
{
    font: 20px 'Oxygen', sans-serif;
}
.name{grid-area: name;
    padding-left: 1%;
    padding-right: 1%;
    font: 20px 'Arimo', sans-serif;
}
.name input{
    width: 70%;
    font: 20px 'Oxygen', sans-serif;
}
.shortdescription{grid-area: shortdescription;
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.shortdescription input
{
    width: 60%;
    font: 20px 'Oxygen', sans-serif;
}
.price{grid-area: price;
    padding: 1%;
}
.price br
{
    display: none;
}
.price input
{
    font: 20px 'Oxygen', sans-serif;
}
.contact{grid-area: contact;
    padding: 1%;
}
.contact input
{
    font: 20px 'Oxygen', sans-serif;
}
.number{grid-area: numberavailable;
    padding: 1%;
    display: flex;
    justify-content: center;
}
.number input[type=number]
{
    font: 20px 'Oxygen', sans-serif;
}
.number input[type=submit]
{
    position: relative;
    top:20vh; left:45%;
    font: 20px 'Oxygen', sans-serif;
}
.longdescription{grid-area: longdescription;
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.longdescription textarea
{
    width: 100%;
    height: 300px;
    font: 25px 'Poppins', sans-serif;
}
.prodbox
{
    position: relative;
    width:80%;
    left:10%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    'name name name'
    'picture price contact'
    'picture shortdescription shortdescription'
    'numberavailable longdescription longdescription';
    grid-gap: 15px;
    border: 1px orange solid;
    padding: 5px;
    font: 25px 'Poppins', sans-serif;
}
/*
Kraj CSS za PRODUCT stranicu
 */
/*
Pocetak CSS za ADMINLOGIN stranicu
 */

.adminbox
{
    position: relative;
    left: 35%;
    width: 30%;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 30px;
}
.adminbox form label
{
    font: 25px 'Arimo', sans-serif
}
.adminbox form input
{
    font: 25px 'Oxygen', sans-serif
}
.backbutton
{
    position: absolute;
    top: 0;
    left:10px;
    font: 20px Verdana;
}
.backbutton:hover
{
    cursor: pointer;
}
.userinput
{
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    font: 25px Verdana;
    padding: 10% 10% 0 10%;
}
.userinput input
{
    height: 50px;
    font: 25px Verdana;
}
.loginoutput
{
    display: flex;
    justify-items: center;
    justify-content: center;
    font: 25px 'Oxygen', sans-serif;
    color: red;
    padding: 0 5% 5% 5%;
}
.loginbutton
{
    justify-content: flex-end;
}
.loginbutton input
{
    width: 100%;
    border: none;
    background-color: orange;
    height: 50px;
    border-radius: 0 0 30px 30px;
    font: 25px 'Oxygen', sans-serif
}
.loginbutton input:hover
{
    background-color: darkorange;
    cursor: pointer;
}
/*
Kraj CSS za ADMINLOGIN stranicu
 */
/*
Responsive CSS
 */
@media only screen and (max-width: 900px) {
    /*INDEX*/
    .selection {
        font-size: 20px;
    }

    .contentdivider {
        display: block;
    }

    .content {
        background-image: none;
        grid-template-areas:
        'maincontent'
        'contentdivider'
        'content1'
        'content2';
        height: 140vh;
    }

    .maincontent {
        background-color: #ff7300;
    }

    .content1 {
        margin: 0;
    }

    .content2 {
        margin: 0;
    }

    /*END INDEX */
    /*WEBSHOP*/
    .okvirshop {
        grid-template-columns: 1fr;
        grid-template-areas:
        'filters'
        'okvirgrid'
        'navig';
        border: none;
    }

    .navig {
        border: none;
    }

    .navig input[type=button] {
        width: 12%;
    }

    .filters {
        border: 2px orange solid;
        border-radius: 10px;
        width: 100%;
    }

    .search-container {
        display: inline-block;
        width: 100%;
    }

    .trazilicanaslov {
        display: inline-block;
    }
    .cijena input[type=number]
    {
        width: 30%;
    }
    .okvirgrid {
        border: none;
        grid-row-gap: 5vh;
        grid-template-areas:
        'item1'
        'item2'
        'item3'
        'item4'
        'item5'
        'item6'
        'item7'
        'item8'
        'item9';
    }

    /*END WEBSHOP*/
    /*PRODUCT*/
    .prodbox {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
    'name name'
    'picture picture'
    'price numberavailable'
    'contact contact'
    'shortdescription shortdescription'
    'longdescription longdescription'
    ;
    }
    .name {
        font: 10px Helvetica, sans-serif;
    }
    /*END PRODUCT*/
    /*PRODCHANGE*/
    .name input
    {
        width: 100%;
    }
    .picture
    {
        width: 100%;
    }
    .price br
    {
        display: block;
    }
    .price input
    {
        width: 50%;
    }
    .contact input[type=text]
    {
        width: 30%;
    }
    .number input[type=number]
    {
        width: 50%;
    }
    .number input[type=submit]
    {
        display: none;
    }
    .shortdescription input
    {
        width: 100%;
    }
    /*END PRODCHANGE*/
}